<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843331886089-bfcb9kqt5jt7dedpa0lv25hebipqvmb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843331886089-bfcb9kqt5jt7dedpa0lv25hebipqvmb5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>843331886089-4sa87imm81cbgd79mf9v03kq88lqj0dj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ1Bt7e_w7aLaC5rl4YYczizNW3_HuCEA</string>
	<key>GCM_SENDER_ID</key>
	<string>843331886089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aiohs.client</string>
	<key>PROJECT_ID</key>
	<string>datn-20cq-aiohs</string>
	<key>STORAGE_BUCKET</key>
	<string>datn-20cq-aiohs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843331886089:ios:c813a95e3ff7582e57ecd8</string>
</dict>
</plist>